@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.fade {
  transition: opacity 0.5s ease-out;
}

.fade-in-all {
  transition: all 0.5s ease-out;
}

.hide {
  height: 0;
  transition-delay: 1s;
  transition-property: height;
}

.content {
  position: fixed;
  bottom: 0;
  height: calc(100vh - 6rem - 130px);
  max-width: calc(100vw - 6rem);
  padding-right: 6rem;
}

@media (min-width: 1100px) {
  .content {
    max-width: calc(100vw - 12rem);
    padding-right: calc(100vw - 12rem - 1100px);
  }
}

.nav {
  width: calc(100vw - 12rem);
}
